<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div class='col-md-12'>
  <div class='col-md-2'></div>
  <div class='col-md-8 grid-section'>
  <app-data-grid [gridcolumns]="columns"
                 [gridoptions]="gridoptions"
                 [griddata]="data"
                 [gridrecordcountoptions]="gridrecordcountoptions"
                 [filterenabled]="true"
                 [filterplaceholder]="filterplaceholder"
                 (pageSizeChangedEvent)="pageSizeChanged($event)"
                 (pageChangedEvent)="pageChanged($event)"
                 (filterChangedEvent)="filterChanged($event)"
                 (sortChangedEvent)="sortChanged($event)"
                 (identityColumnClickEvent)="userNameClicked($event)"
  >
  </app-data-grid>
</div>
<div class='col-md-2'></div>
</div>